@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700;1,800&display=swap');

.docspot-font {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.bg-doctor {
  background-image: url("../src/images/bg_doctor.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;    
}
